<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.username.label}} {{form.username}} <br><br>
            {{form.first_name.label}} {{form.first_name}}<br><br>
            {{form.last_name.label}} {{form.last_name}}<br><br>
            {{form.email.label}} {{form.email}}<br><br>
            {{form.password1.label}} {{form.password1}} <br><br>
            {{form.password2.label}} {{form.password2}} <br><br>
            
            <input type="submit" value="signup">
        </form>
    </div>
</body>
</html>