<!DOCTYPE html>
<html>
<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }
        

        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        
        <label for="pg_id">PG ID:</label>&ensp;{{ obj.PG_code.PG_Code }} <br><br>
        <label for="name">Full Name:</label>
        <input type="text" placeholder="Enter full name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="text" placeholder="Enter email" name="email"><br><br>
        <label for="mobile">Mobile Number:</label>
        <input type="text" placeholder="Enter mobile number" name="mobile"><br><br>
        <input type="submit" value="Register PG"><br><br>
        <a href="{% url 'showdata' %}"><button>Back</button></a>
    </form>
</body>
</html>